{{'sylius.ui.order'|trans }} #{{ resource.order.number }}
</br>
{{'sylius.ui.customer'|trans }} : {{ resource.customer.email }}
<div class="ui comments">
{% for customerSupportAnswer in resource.customerSupportAnswers %}
        <div class="comment">
            <div class="content">
                <span class="author">{% if customerSupportAnswer.author == resource.customer.fullname %} ({{'arobases_sylius_customer_support.ui.client'|trans }}) - {{ resource.customer.fullname }}  {% else %}  {{'arobases_sylius_customer_support.ui.you'|trans }}  {% endif %}</span>
                <div class="metadata">
                     <span class="date">{{ customerSupportAnswer.createdAt|date('d-m-Y H:i:s') }}</span>
                </div>
                <div class="text">
                    {% if customerSupportAnswer.filePath is not null %}
                        <a href=" /{{ customerSupportAnswer.filePath }}" target="_blank"> {{'arobases_sylius_customer_support.ui.attachment'|trans }}</a>
                    {% endif %}
                    <p>{{ customerSupportAnswer.message }}</p>
                </div>
            </div>
        </div>
{% endfor %}
</div>

{% if resource.enabled == 1  %}
    {{ form_row(form.customerSupportAnswers.file) }}
    {{ form_row(form.customerSupportAnswers.message) }}
{% endif %}