{% extends '@SyliusShop/Account/layout.html.twig' %}

{% block title %}{{ 'arobases_sylius_customer_support.ui.customer_support'|trans }} | {{ parent() }}{% endblock %}

{% block subcontent %}
    {{ sylius_template_event('arobases_sylius_customer_support.shop.account.customer_support.index.subcontent', _context) }}
{% endblock %}
